.loisirs{
    background-color: rgba(243, 234, 229,0.8);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    margin-top: 6rem;
    padding:2.5rem;
    font-family: 'IM Fell English SC', serif;
    font-size:large;
    border-radius:5%; 
}