@use '../../styles/vars';


.experiences{
    background-color: rgba(243, 234, 229,0.8);
    padding-top: vars.$gutter;
    padding-bottom: vars.$gutter;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    margin: auto;
    margin-top: 2rem;
}