.projetPerso{
    background-color: rgba(243, 234, 229,0.8);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    max-height: 25%;
    margin: auto;
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    padding:2.5rem;
}