

.contact {
    background-color:rgba(243, 234, 229,0.8); 
    padding-left: 1rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    

    &-container{
        margin-right:2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items:flex-end;
        

    }
    .ptext{
        margin-top: 2rem;
    }
    .plogo {
        margin-top: 1rem;;
    }
    p{
        margin-right: 15rem;
    }
}