@use '../../styles/vars';


@media screen and (min-width: 1024px) {
  .expeTech{
      
    background-color: rgba(243, 234, 229,0.9);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    margin: auto;
    margin-top: 2em;
    font-family: 'IM Fell English SC', serif;
    font-size:large;
    // border-radius:5%; 
  }
  .expefor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
  }
}



@media screen and (min-width: 768px) and( max-width: 1023px) {
  .expeTech{
      
    background-color: rgba(243, 234, 229,0.9);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    max-height: 20%;
    margin: auto;
    margin-top:1.2rem;
    font-family: 'IM Fell English SC', serif;
    font-size:large;
    border-radius:5%; 
    overflow: auto ;
  }
}

@media screen and (max-width: 767px) {
  .expeTech{
      
    background-color:rgba(243, 234, 229,0.9);;
    padding: vars.$gutter;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    max-height: 10%;
    margin: auto;
    margin-top: .5em;
    font-family: 'IM Fell English SC', serif;
    font-size:large;
    border-radius:5%; 

    
  }
  h1{
    font-size:1.5rem
  }
}


