@use '../../styles/vars';

.expeTech{
    margin-top: 2rem;
    background-color: rgba(243, 234, 229,0.8);
    padding: vars.$gutter;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: auto;
    margin-top: 2rem;
    
  &-p{
    color:rgb(226, 214, 214);
  }

}