

.boutonHeader { 
    border: solid black;
    
    
}

.forest {
    background-color: rgb(0,150,136, .9);
    padding: 0.25em;
    border-radius: 11%;
    padding-left: 1em ;
    padding-right: 1em;
}

.beach {
    background-color: rgb(253,216,53, .9);
    padding: 0.25rem;    
    border-radius: 11%;
    padding-left: 1em ;
    padding-right: 1em;
}